:root {
    --colorScrollbar: #D3D3D3;
    --colorBackgroundScrollbar: #eee;
    --colorPrincipal: #FFFFFF;
    --colorSecondary: #04B4E0;
}

/*SCROLL PARA CHROME*/
.content__page::-webkit-scrollbar {
    width: 25px;
    background: transparent;
}

.content__page::-webkit-scrollbar-thumb{
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}
.content__page:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--colorScrollbar);
}
.content__page:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--colorSecondary);
}
.content__page::-webkit-scrollbar-track{
    background-color: transparent;
    margin: 40px 0;
}


/*SCROLL PARA CHROME - BARRA LATERAL  */
.layout__aside::-webkit-scrollbar {
    width: 25px;
    background: var(--colorSecondary);
}

.layout__aside::-webkit-scrollbar-thumb{
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}
.layout__aside:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--colorPrincipal);
}
.layout__aside:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--colorPrincipal);
}
.layout__aside::-webkit-scrollbar-track{
    background-color: transparent;
    margin: 40px 0;
}

/*SCROLL PARA FIREFOX MOZILLA - PRINCIPAL Y BARRA LATERAL */
.content__page{
    scrollbar-width: thin;
    scrollbar-color: var(--colorScrollbar) transparent;
}
.layout__aside{
    scrollbar-width: thin;
    scrollbar-color: var(--colorScrollbar) var(--colorSecondary);
}